 <div id="about">
            <div class="container">
                <div class="row">
                    <div class="about-col-1"></div>
                    <img src="/static/image/ram image.jpg"> 
                    <div class="about-col-2">
                        <h1 class="sub-title">About Me</h1>
                         <br>
                        <p>"Hello, I'm Ram, and I completed my Bachelor's degree in Computer Science in 2020. With a deep passion for technology and a strong interest in web development, I aspire to contribute my skills and knowledge to the dynamic world of IT companies. I am eager to embark on a career in web development, where I can leverage my education and expertise to create innovative and user-friendly solutions for the digital realm. I am committed to continuous learning and staying up-to-date with the latest trends and technologies in the field. My goal is to make a meaningful impact in the IT industry and be a valuable asset to any organization I collaborate with."</p>
                        <div class="tab-title">
                            <p class="tab-link active-link" onclick="opentab('skills')">SKILLS</p>
                            <p class="tab-link " onclick="opentab('experience')">EXPERIENCE</p>
                            <p class="tab-link" onclick="opentab('education')">EDUCATION</p>
                        </div>
                        <div class="tab-contents active-tab" id="skills">
                            <ul>
                                <li><span>JavaScript / Html / Css</span><br> web Designing</li>
                                <li><span>DataStructre</span><br>Basic/good Knowledge</li>
                                <li><span>Algorithem </span><br>Good Knowledge</li>
                                <li><span>MYSQL</span><br>Basic Knowledge</li>
                            </ul>
                        </div>
                        <div class="tab-contents active-tab" id="experience">
                            <ul>
                                <li><span>2022-Current</span><br> Web development </li>
                                <li><span>2021-2022</span><br> Catalog Department at Justdial </li>
                                <li><span>2020-2021</span><br> preperation of Governmentjobs  </li>
                                
                            </ul>
                        </div>
                        <div class="tab-contents active-tab" id="education">
                            <ul>
                                <li><span>2020</span><br> B.E Tech From MIT Meerut </li>
                                <li><span>2016</span><br> Intermediate</li>
                                <li><span>2014</span><br> HighSchool</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>            
        </div>




        