
 <footer>
        <div  class="email">
            <h3>
               <a> Email</a>
                <P>ramkumarmamaina@gmail.com</P>
            </h3>

             <div class="Followme">
            <h3>Follow Me</h3>
             <a href="https://twitter.com/im_ramofficial" target="_blank"><i class="fa-brands fa-twitter"></i></a>
             <a href="https://www.linkedin.com/in/ram-k-9804931b1/" target="_blank"><i class="fab fa-linkedin"></i></a>


        </div>
        </div>
        
        <div class="ram">
           ©2023❤️By Ram
        </div>
       
</footer>