 <div class="header-text"> 
                  <img class="image-4" src="/static/image/img4.png">
                <h1>Hi, I'm <span> Ram </span> From <span>Bharat </span></h1>
  <p>I am a Fullstack Software Developer using different technological approaches in React JS, Redux, Next Js, NodeJs, ExpressJs, Django, Bootstrap, Html, CSS. Maintains exceptional development quality from conception through distribution. Works alongside clients and colleagues through all stages of development to produce exceptional final products.
  </p>

          
  <div class="circle">
    <div class="homecard-1 resume">
       <a href="http://localhost:6001/about"> <span>Resume</span></a>
    </div>
    <div class="homecard-1 project">
        <a href="http://localhost:6001/project"> <span>Project</span></a>
      </div>
    <div class="homecard-1 contact">
        <a href="http://localhost:6001/contact"> <span>Contact</span></a>
      </div>
  </div>