 <nav>
        <div class="logo"><h1>R.K</h1></div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="mainMenu">
            <li><a href="http://localhost:6001/">Home</a></li>
            <li><a href="http://localhost:6001/about">About</a></li>
            <li><a href="http://localhost:6001/project">Project</a></li>
            <li><a href="http://localhost:6001/contact">Contact</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
            <span class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </span>
        </ul>
    </nav>