<div class="projects">
    <div class="pro1">
        <img class="img-1" src="/static/image/cal.jpg">
        <h2>Project Title: Simple calculator</h2>
        <p>Developed a user-friendly, web-based calculator application using HTML, CSS, and JavaScript.
            <br>
            Implemented essential calculator features, including addition, subtraction, multiplication, division, and error handling.
        </p>

    </div>
     <div class="pro2">
        <img class="img-2" src="/static/image/pro2.jpg">
         <h2>Project Title: Personal Website (In Progress)</h2>
        <p>Currently developing a personal website to showcase a portfolio of work and projects.<br>
           Leveraging a combination of HTML, CSS, Bootstrap, JavaScript, <br>and other technologies to create a dynamic and visually appealing web presence.
        <br>
            Implementing responsive design principles to ensure optimal viewing on various devices.
        <br>
            Incorporating interactive elements and user-friendly navigation to enhance the user experience.
            <br>Continuously updating and expanding the website with new projects, achievements, and skills.
            <br></p>

    </div>
     <div class="pro3">
        <img class="img-3" src="/static/image/pro3.jpg">
         <h2>Project Title: Personal Portfolio Website</h2>
        <p>Designed and developed a personal portfolio website using a Node.js-based stack, including Express.js <br>and MongoDB for building a RESTful API.
<br>Implemented front-end technologies such as HTML, CSS, JavaScript, and Bootstrap to create an attractive and responsive user interface.
<br>Leveraged MongoDB to manage and store project data, making it easily updatable and expandable.
<br>
<h3>Key Achievements:</h3>
Successfully created a personalized online portfolio to showcase my work, skills, and achievements.<br>
Gained hands-on experience with Node.js, Express.js, and MongoDB for building robust web applications.<br>
Showcased adaptability and versatility by managing both front-end and back-end development aspects of the project.<br>
Implemented responsive design principles to ensure an optimal viewing experience across devices.
</p>

    </div>
    <br>
    <br>
    <div class="pro4">
        <img class="img-4" src="/static/image/pro4.jpg">
         <h2>Project Title: Upcoming project or Event </h2>
        <p>Updated Soon
            <br>Continuously updating and expanding the website with new projects, achievements, and skills.
        </p>

    </div>

</div>