@media(max-width:985px){        
    nav .logo{
        color :black;
    }
    nav{
        width:180%;
        display: flex;
        justify-content: space-between;
        background-color:black;
        color:white;
    
         
       
    }
    nav .mainMenu{
        height:180vh;
        width:100%;
        position: fixed;
        top: 0;
        right: 0;
        left:0;
        z-index:10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:black;
        transition: top 1s ease;
        overflow-y: auto; /* Enable vertical scrolling when content overflows */
    
        
    }
    nav .mainMenu .closeMenu{
        display:block;
        position: absolute;
        top:20px;
        right: 20px;
        font-size:4rem; /*cross button change size*/
    } 
    nav .openMenu{
        float: right;
        display:block;
     font-size:3rem; /*open menu button change size*/
    }
  nav .mainMenu li a{
    line-height: 6rem;
    font-size: 3rem;
}
 .icons i {
  margin-top:2rem;
        display:inline-block;
        padding:14px;
        font-size:3rem;
    }
    nav .mainMenu li a:hover{
        background: none;
        color: rgb(228, 169, 9);
        padding: 12px;
    }
   
    
       
    .image-4{
        margin-top: 1rem;
        margin-left:37rem;
        width: 25rem;
        height: 30rem;
        margin-bottom:3rem;
      
    }
    
    .header-text{
       margin-top: rem;
       position:relative; 
        width:55rem;
    
    }
    .header-text p{
        margin-left:19rem;
        font-size:3rem;
        margin-right:-20rem; 
        margin-top:1rem ;
    }
    .header-text h1{
        margin-left:19rem; 
         font-size:3.6rem;   /* Hi im ram from india */
        margin-top:1.8rem ;
        
    }
    
.circle{
    display: flex;
    gap: 2.5rem;
    margin-top:4rem;
    margin-left: 17rem;
    margin-bottom: 10rem;
    position: relative;
    

}
.homecard-1{
    background-color:#a0a0ac;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1px solid #ebe7e7;
    color:#fff;
    padding:8.8rem;      /* circle size change */
    cursor: pointer;  
}
.homecard-1 a{
    text-decoration-line: none;
}
.homecard-1 span{
    color:#161515;
    margin-left: -4.9rem;
    font-weight: bolder;
    font-size: 3rem;
    
   
}

.resume {
    
    background-color: #eea204; /* Color for Resume */
  }
  
.project {
    background-color: #81d8da;; /* Color for Project */ 
    
}
  
.contact {
    background-color: greenyellow; /* Color for Contact */
  }

  footer{
    border-top: 1px solid #f0e7e7; /* Add a border to each project */
    top:0%;
    margin-top:5rem;
    background-color: black;
    width: 180%;
    position:relative;
 }
footer .ram{
     margin-top:14rem;
    margin-left:-12rem;
    font-size:1.5rem;
    position:stick;
}
footer .email{
margin-left: 5rem;
    font-size:1.5rem;
}
footer .email a{
margin-right: 22rem;
font-size:1.5rem;

}

footer .Followme{
margin-top:2rem;
padding:1rem;
align-items: flex-start;
margin-left: -18rem;
font-size:1.5rem

}
footer .Followme a{
 font-size:1.5rem;
margin-right:1rem;
background-color:#333

}
   /* -------contact---------- */
   .containerC {
    display: grid;
    justify-content: space-between;
    align-items: center; /* Adjust this property as needed */
  }

.sub-title1{
    font-size: 3rem;
    font-weight: 600;
    color:#fff;
    margin-top: 2rem;
}
.contact-left{
   margin-left: 25rem;
    margin-top: 2rem;

}

.contact-left p{
    font-size: 2.4rem;

}
.contact-left p i{
    color:#ff004f;
    margin-right: 1.6rem;
    font-size: 2.5rem;
}
.social-icons {
    margin-top:4rem;
}

.social-icons a {
    text-decoration:none;
    font-size: 3rem;
    margin-right: 1.5rem;
    color:#2136f8;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translate(-.5rem);
}
.btn.btn2{
    text-decoration: none;
    display:inline-block;
    background-color:#ff004f;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: .8rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
/* ---------Form----------- */

.contact-right{
    margin-top:2rem;
    margin-left:25rem;
}
.contact-right form{
    width:35rem;           /* form box yourname your mail u can change the size*/
}
form input, form textarea{
    display:flex;
    width:100%;
    border:1;
    outline:none;
    background:#262626;
    padding: 1.9rem;
    margin: 1.5rem 0;
    color:#fff;
    font-size:1.5rem;     
    border-radius: .6rem;
}
      /* project css    */

      .projects {
        background-color:black;
        margin-bottom: -3rem;
        display: flex;
        flex-direction: column; /* Display projects vertically */
        padding: 0px; /* Add padding for spacing */
        height: 1110px; /* Set a maximum height for the container */
        width:180%;
         overflow-y: auto; /* Enable vertical scrolling when content overflows */
      }
      
      .pro1,
      .pro2,
      .pro3,
      .pro4{
         font-size: 2rem;
        line-height:2.7rem;
        height:400vh;
        border-top: 1px solid #f0e7e7; /* Add a border to each project */
        padding: 100px; /* Add padding for spacing */
      }
      
      .img-1,
      .img-2,
      .img-3,
      .img-4{
          float:right;
        max-width: 100%; /* Ensure images don't exceed their container */
        display: block;
        margin: 0 auto; /* Center the images horizontally */
      }
      
      .p {
        margin: 0; /* Remove default margin for <p> elements */
      }
      
    
    
  

}

/* Media queries for responsiveness  about page */
@media (max-width: 985px) {
    .row {
     width:70rem;
       font-size:2rem;
       margin-left:2rem;
       flex-direction: column; /* Stack columns vertically on smaller screens */
       align-items: center; /* Center content horizontally within the row */
    }
  
    .about-col-1 {
      flex:1; /* Make the left column flexible */
      text-align: center; /* Center align column content */
    }
  
    img {
      margin-right:22rem;
      border-radius: 100%;
      width: 1rem;
      height: 100%;
      margin-top: 1rem; /* Adjust the top margin */
      margin-bottom: 2rem; /* Add margin below the image */
    }
    .sub-title{      /*about me font */
    font-size:3.2rem;
   }
   .tab-link{   /*skills experience educat..*/
    font-size:2rem;  
   }
   .tab-contents{
    font-size:2.2rem;
   }
   .tab-contents ul li span {
    font-size:2rem;
   }
    .about-col-2 {
      flex: 1;
      margin: 1rem; /* Adjust the margin around the right column */
      width: 100%; /* Make the content column full width */
    }
  }
  @media (max-width: 565px) {
    .row {
     width:80rem;
       font-size:2.2rem;
    }
     .sub-title{      /*about me font */
    font-size:3.8rem;
   }
   .tab-link{   /*skills experience educat..*/
    font-size:2.7rem;  
   }
   .tab-contents{
    font-size:2.7rem;
  
   }
   .tab-contents ul li span {
    font-size:2.7rem;
   }
  }
  
@media(max-width:485px){
 .row {
     width:67rem;
           font-size:2.3rem;
        }
       .sub-title{      /*about me font */
        font-size:5rem;
       }
     
    }
     
    @media (max-width: 311px) {
       
        .row {
          margin-left:5em;
            width:69rem;
                  font-size:2.5rem;
               }
          
         }
  

@media(max-width:759px){
    .image-4{
     margin-top: 4rem;
     margin-left:26rem;
     width: 25rem;
     height: 35rem;
     margin-bottom:3rem;
   
 }
.header-text p{
     margin-left:15rem;
     font-size:3.1rem;
     margin-right:-20rem; 
     margin-top:1rem ;
 }
 .header-text h1{
     margin-left:15rem; 
      font-size:3.9rem;   /* Hi im ram from india */
     margin-top:1.8rem ;
     
 }
 .circle{
 margin-left: 13rem;
 }
    nav .mainMenu .closeMenu{
        display:block;
        position: absolute;
        top:20px;
        right: 20px;
        font-size:4rem; /*cross button change size*/
    } nav .mainMenu{
        height:180vh;
    }
    nav .openMenu{
        float: right;
        display:block;
    }
  nav .mainMenu li a{
    line-height: 6rem;
    font-size: 3rem;
}
 .icons i {
  margin-top:2rem;
        display:inline-block;
        padding:14px;
        font-size:3rem;
    }


}
@media(max-width:672px)
{
   nav{
        width:214%;
        display: flex;
        justify-content: space-between;
        background-color:black;
        color:white;
        height:9rem;
    }

        
.image-4{
    margin-top: 1rem;
    margin-left:25rem;
    width: 30rem;
    height: 40rem;
    margin-bottom:3rem;
  
}

.header-text{
   margin-top: 9rem;
   position:relative; 
    width:40rem;

}
.header-text p{
    margin-left:15rem;
    font-size:3.5rem;
    margin-right:-20rem; 
    margin-top:2rem ;
}
.header-text h1{
    margin-left:15rem; 
     font-size:5rem;   /* Hi im ram from india */
    margin-top:1.8rem ;
    
}
    .circle{
margin-left: 15rem;
}
nav .mainMenu .closeMenu{
    display:block;
    position: absolute;
    top:20px;
    right: 20px;
    font-size:5rem; /*cross button change size*/
} nav .mainMenu{
    height:250vh;
}
nav .openMenu{
    float: right;
    display:block;

}
nav .mainMenu li a{
line-height: 10rem;
font-size: 3.5rem;
}
.icons i {
margin-top:2rem;
    display:inline-block;
    padding:14px;
    font-size:3.7rem;
}
    footer{
    margin-top:10rem;
    background-color: black;
    width: 214%;
    position:relative;
 }
footer .ram{
    margin-top:18rem;
    margin-left:-rem;
    position:stick;
}
footer .email{
margin-left: 5rem;
   
}
footer .email a{
margin-right: 22rem;
font-size:1.8rem;
}

footer .Followme{
margin-top:2rem;
padding:1rem;
align-items: flex-start;
margin-left: -18rem;


}
footer .Followme a{
 
margin-right:1rem;
background-color:#333

}
.projects{
    height: 1110px; /* Set a maximum height for the container */
    width:213%;
    }
}



@media(max-width:565px)
{
   nav{
        width:270%;
        display: flex;
        justify-content: space-between;
        background-color:black;
        color:white;
        height:10rem;
    }

        
.image-4{
    margin-top: 1rem;
    margin-left:20rem;
    width: 34rem;
    height: 45rem;
    margin-bottom:3rem;
  
}

.header-text{
   margin-top: 9rem;
   position:relative; 
    width:52rem;

}
.header-text p{
    margin-left:15rem;
    font-size:3.9rem;
    margin-right:-10rem; 
    margin-top:2rem ;
}
.header-text h1{
    margin-left:15rem; 
     font-size:5rem;   /* Hi im ram from india */
    margin-top:10rem ;
    
}
    .circle{
margin-left: 10rem;
}
  nav .mainMenu .closeMenu{
        font-size:5.9rem; /*cross button change size*/
    } nav .mainMenu{
        height:270vh;
    }
   
  nav .mainMenu li a{
    line-height: 10rem;
    font-size: 3.8rem;
}
 .icons i {
  margin-top:2rem;
        display:inline-block;
        padding:14px;
        font-size:4rem;
    }
    footer{
    margin-top:18rem;
    background-color: #0c0b0b;
   width:270%;
 }
 footer .ram{
    margin-top:14rem;
   margin-left:-12rem;
   font-size:1.5rem;
   position:stick;
}
footer .email{
margin-left: 5rem;
   font-size:1.5rem;
}
footer .email a{
margin-right: 22rem;
font-size:1.5rem;

}

footer .Followme{
margin-top:2rem;
padding:1rem;
align-items: flex-start;
margin-left: -18rem;
font-size:1.5rem

}
footer .Followme a{
font-size:1.5rem;
margin-right:1rem;
background-color:#333

}
.projects{
    height: 1520px; /* Set a maximum height for the container */
    width:269%;
    }

}


@media(max-width:406px)
{
   nav{
        width:380%;
        height:15rem;
    }
    .projects{
        height: 1520px; /* Set a maximum height for the container */
        width:379%;
        }
.header-text{
   margin-top: 9rem; 
    width:60rem;

}
.header-text p{
    margin-left:12rem;
    font-size:5.7rem;
    margin-right:-10rem; 
}
.header-text h1{
    margin-left:15rem; 
     font-size:6.7rem;   /* Hi im ram from india */
    
}
    footer{
    margin-top:18rem;
    background-color: black;
   width:370%;
 }
 footer .ram{
    margin-top:14rem;
   font-size:1.7rem;
   position:stick;
}
footer .email{
    margin-left: 5rem;
      
       
    }
    footer .email a{
    margin-right: 22rem;
     font-size:1.8rem;
    
    }
    
    footer .Followme{
    margin-top:2rem;
    padding:1rem;
    align-items: flex-start;
    margin-left: -18rem;
    
    
    }
footer .Followme a{
font-size:1.7rem;
margin-right:1rem;
background-color:#333

}
    .circle{
margin-left: 1rem;
margin-top:10rem;

}
.homecard-1{
padding:12rem;      /* circle size change */ 
}
.homecard-1 span{
margin-left: -7rem;
font-size: 4rem;
}
 
 nav .mainMenu .closeMenu{
        font-size:7.5rem; /*cross button change size*/
    } nav .mainMenu{
        height:380vh;
    }
    
  nav .mainMenu li a{
    line-height: 13rem;
    font-size: 5.3rem;
}
 .icons i {
  margin-top:3rem;
        display:inline-block;
        padding:14px;
        font-size:6rem;
    }

}
@media(max-width:330px)
{
      nav{
        width:410%;
      } 
      .projects{
        width:410%;
        }
  
}
@media(max-width:311px)
{
      nav{
        width:480%;
      }
      .projects{
        width:480%;
        }
  
}
@media(max-width:261px)
{
      nav{
        width:650%;
      }
      .projects{
        width:650%;
        }
  .header-text{
   margin-left:12rem;

}
}
@media(max-width:222px)
{
      nav{
        width:750%;
      }
      .projects{
        width:750%;
        }
  .header-text{
   margin-left:12rem;

}
}
 @media(max-width:192px)
{
      nav{
        width:900%;
      }
      .projects{
        width:900%;
        }
  .header-text{
   margin-left:12rem;

}
}
  @media(max-width:162px)
{
      nav{
        width:1050%;
      }
      .projects{
        width:1050%;
        }
  .header-text{
   margin-left:12rem;

}
}
   @media(max-width:137px)
{
      nav{
        width:1200%;
      }
      .projects{
        width:1200%;
        }
} 
    @media(max-width:122px)
{
      nav{
        width:1500%;
      }
      .projects{
        width:1500%;
        }
}











@media(max-width:1220px){
    
    footer .ram{
        margin-right: 30rem;
    }
}

@media(max-width:2728px){
   footer .ram{
        margin-right: 46%;  
    }
}




@media(max-width:313px){
    footer{
       width: 400%;
    }
    footer .ram{
        margin-right:16rem;  
    }
}
@media(max-width:300px){
    footer{
       width: 230%;
    }
    footer .ram{
        margin-right: 2%;  
    }
}
@media(max-width:257px){
    footer{
       width: 250%;
    }
    footer .ram{
        margin-right: 2%;  
    }
}@media(max-width:230px){
    footer{
       width: 280%;
    }
}
@media(max-width:210px){
    footer{
       width: 590%;
    }
}
/* about page media query*/
@media(max-width:1120px){
    .about-col-1{
        flex: 1; /* Make the left column flexible */
        text-align: center; /* Center align column content */
    }
    

    img {
        border-radius:10%;
            width: 14rem;
            height:100%; 
            margin-top:6rem;
            margin-left:1rem;
           }
    
        
    
    .about-col-2 {
        flex: 1;
        margin: 3rem; /* Add spacing around the right column */
        width: 50%; /* Adjust the width as needed */
        margin-right: 8rem; 
        position: relative;
    }
    
}